.container {
    padding: 0 2rem;
    background-color: #ffffff90;
    
    @include media-breakpoint-up(sm) {
        margin: 3rem auto;
        max-width: 900px;
    }
}

.navbar {
    background-color: #ffffff90;
    border-radius: 10px;
    // make more transparent on the border
}
